<div class="form-group">
  <label for="brand" class="col-sm-2 control-label">Brand</label>
  <div class="col-sm-10">
    <input type="text" ng-model="car.brand" class="form-control" id="brand" placeholder="Brand"/>
  </div>
</div>
<div class="form-group">
  <label for="model" class="col-sm-2 control-label">Model</label>
  <div class="col-sm-10">
    <input type="text" ng-model="car.model" class="form-control" id="model" placeholder="Model"/>
  </div>
</div>
<div class="form-group">
  <label for="engineSize" class="col-sm-2 control-label">Engine Size</label>
  <div class="col-sm-10">
    <input type="text" ng-model="car.engineSize" class="form-control" id="engineSize" placeholder="Engine Size"/>
  </div>
</div>
<div class="form-group">
  <label for="fuelType" class="col-sm-2 control-label">Fuel Type</label>
  <div class="col-sm-10">
    <input type="text" ng-model="car.fuelType" class="form-control" id="fuelType" placeholder="Fuel Type"/>
  </div>
</div>
<div class="form-group">
  <label for="bodyStyle" class="col-sm-2 control-label">Body Style</label>
  <div class="col-sm-10">
    <input type="text" ng-model="car.bodyStyle" class="form-control" id="bodyStyle" placeholder="Body Style"/>
  </div>
</div>
<div class="form-group">
  <label for="transmission" class="col-sm-2 control-label">Transmission</label>
  <div class="col-sm-10">
    <input type="text" ng-model="car.transmission" class="form-control" id="transmission" placeholder="Transmission"/>
  </div>
</div>
<div class="form-group">
  <label for="fuelEconomy" class="col-sm-2 control-label">Fuel Economy</label>
  <div class="col-sm-10">
    <input type="text" ng-model="car.fuelEconomy" class="form-control" id="fuelEconomy" placeholder="Fuel Economy"/>
  </div>
</div>
<div class="form-group">
  <label for="emissions" class="col-sm-2 control-label">Emissions</label>
  <div class="col-sm-10">
    <input type="text" ng-model="car.emissions" class="form-control" id="emissions" placeholder="Emissions"/>
  </div>
</div>
<div class="form-group">
  <label for="emissionClass" class="col-sm-2 control-label">Emission Class</label>
  <div class="col-sm-10">
    <input type="text" ng-model="car.emissionClass" class="form-control" id="emissionClass" placeholder="Emission Class"/>
  </div>
</div>
<div class="form-group">
  <label for="power" class="col-sm-2 control-label">Power</label>
  <div class="col-sm-10">
    <input type="text" ng-model="car.power" class="form-control" id="power" placeholder="Power"/>
  </div>
</div>
<div class="form-group">
  <label for="doors" class="col-sm-2 control-label">Doors</label>
  <div class="col-sm-10">
    <input type="text" ng-model="car.doors" class="form-control" id="doors" placeholder="Doors"/>
  </div>
</div>
<div class="form-group">
  <label for="seats" class="col-sm-2 control-label">Seats</label>
  <div class="col-sm-10">
    <input type="text" ng-model="car.seats" class="form-control" id="seats" placeholder="Seats"/>
  </div>
</div>
<div class="form-group">
  <label for="interior" class="col-sm-2 control-label">Interior</label>
  <div class="col-sm-10">
    <input type="text" ng-model="car.interior" class="form-control" id="interior" placeholder="Interior"/>
  </div>
</div>
<div class="form-group">
  <label for="interiorColour" class="col-sm-2 control-label">Interior Colour</label>
  <div class="col-sm-10">
    <input type="text" ng-model="car.interiorColour" class="form-control" id="interiorColour" placeholder="Interior Colour"/>
  </div>
</div>
<div class="form-group">
  <label for="exteriorColour" class="col-sm-2 control-label">Exterior Colour</label>
  <div class="col-sm-10">
    <input type="text" ng-model="car.exteriorColour" class="form-control" id="exteriorColour" placeholder="Exterior Colour"/>
  </div>
</div>
<div class="form-group">
  <label for="price" class="col-sm-2 control-label">Price</label>
  <div class="col-sm-10">
    <input type="text" ng-model="car.price" class="form-control" id="price" placeholder="Price"/>
  </div>
</div>
<div class="form-group">
  <label for="registration" class="col-sm-2 control-label">Registration</label>
  <div class="col-sm-10">
    <input type="text" ng-model="car.registration" class="form-control" id="registration" placeholder="Registration"/>
  </div>
</div>
<div class="form-group">
  <label for="mileage" class="col-sm-2 control-label">Mileage</label>
  <div class="col-sm-10">
    <input type="text" ng-model="car.mileage" class="form-control" id="mileage" placeholder="Mileage"/>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Save"/>
  </div>
</div>
