<table class="table cartable">
  <tr>
    <td><h3>Details for {{car.brand}} {{car.model}}</h3></td>
    <td></td>
  </tr>
  <tr>
    <td>Brand</td>
    <td>{{car.brand}}</td>
  </tr>
  <tr>
    <td>Model</td>
    <td>{{car.model}}</td>
  </tr>
  <tr>
    <td>Engine Size</td>
    <td>{{car.engineSize}}</td>
  </tr>
  <tr>
    <td>Fuel Type</td>
    <td>{{car.fuelType}}</td>
  </tr>
  <tr>
    <td>Body Style</td>
    <td>{{car.bodyStyle}}</td>
  </tr>
  <tr>
    <td>Transmission</td>
    <td>{{car.transmission}}</td>
  </tr>
  <tr>
    <td>Fuel Economy</td>
    <td>{{car.fuelEconomy}}</td>
  </tr>
  <tr>
    <td>Emissions</td>
    <td>{{car.emissions}}</td>
  </tr>
  <tr>
    <td>Emission Class</td>
    <td>{{car.emissionClass}}</td>
  </tr>
  <tr>
    <td>Power</td>
    <td>{{car.power}}</td>
  </tr>
  <tr>
    <td>Doors</td>
    <td>{{car.doors}}</td>
  </tr>
  <tr>
    <td>Seats</td>
    <td>{{car.seats}}</td>
  </tr>
  <tr>
    <td>Interior</td>
    <td>{{car.interior}}</td>
  </tr>
  <tr>
    <td>Interior Colour</td>
    <td>{{car.interiorColour}}</td>
  </tr>
  <tr>
    <td>Exterior Colour</td>
    <td>{{car.exteriorColour}}</td>
  </tr>
  <tr>
    <td>Price</td>
    <td>{{car.price}}</td>
  </tr>
  <tr>
    <td>Registration</td>
    <td>{{car.registration}}</td>
  </tr>
  <tr>
    <td>Mileage</td>
    <td>{{car.mileage}}</td>
  </tr>
</table>
<div>
  <a class="btn btn-primary" ui-sref="editCar({id:car.id})">Edit</a>
</div>
